body {
    width: 1200px;
    margin: 0 auto;
    background-color: brown;
    background-repeat: no-repeat;
    background-size: cover;
	text-align: center;

}

.item {
    grid-template-columns: 1fr 1fr;
    display: grid;
    border: 1px solid black;
    margin: 10px 10px 10px 10px;
    background-color: #321011;
}

.board-item {
    grid-template-columns: 1fr;
    display: grid;
    border: 2px solid lightcyan;
    background-color: rgb(251, 229, 221);
    text-align: center;
}


.item-1 {
    grid-template-columns: 8fr 5fr;
    display: grid;
    padding: 30px 20px 70px 20px;
}

.item-11 p {
    margin: 0 0 0 0;
}

.item-12 p {
    margin-top: 35px;
    text-align: center;
}

.item-2 {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    padding: 25px 20px 40px 20px;
}

.item-2 img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.item-2 h3 {
    font-size: 25px;
    color: deeppink;
    margin-bottom: 0px;
    margin-left: 40px;
}

.item-2 p {
    font-size: 20px;
    margin-left: 40px;
    width: 70%;
}

.item-3 {
    grid-template-columns: 1fr;
    display: grid;
    padding: 10px 20px 20px 20px;

}

.item-3 p {
    margin: 0 0 0 0;
    text-align: center;
    font-size: 20px;
}